h1 {
    text-align: center;
    margin-bottom: 5vh;
    margin-top: 5vh;
}

button {
    margin: 0 auto;
}

span {
    color: red;
}

.error {
    color: red;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}